<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="FR">
<head>
<meta charset="UTF-8" />
<title>Mot de passe de la modération erroné</title>
<link rel="stylesheet" th:href="@{css/style.css}" type="text/css" />
<style>
	section > form{
		margin-top:20px;
	}
</style>
</head>
<body>
<div class="container">
<img th:src="@{pikachu.png}" class="icone" alt="pikachu shuffle"/>
		<section>

	
	<h2>LE MOT DE PASSE EST ERRONÉ</h2>
	<a href="/access-moderation">Ressayer</a>

</section>
		<img th:src="@{evoli.png}" class="icone" alt="evoli shuffle"/>
		</div>
</body>
</html>