<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="FR">
	<head>
	<meta charset="UTF-8" />
	<title>Inscription réussie</title>
	<link rel="stylesheet" th:href="@{css/style.css}" type="text/css" />
	</head>
	<body>
	<div class="container">
		<img th:src="@{pikachu.png}" class="icone" alt="pikachu shuffle"/>
		<section>
		<h1>PokeShoutBox</h1>
		<nav>
		<a href="/"><span>Acceuil</span></a>
			<a href="/shoutbox" sec:authorize="isAuthenticated()"><span>ShoutBox</span></a>
			<a href="/login" sec:authorize="isAnonymous()"><span>Se connecter</span></a>
			<a href="/logout" sec:authorize="isAuthenticated()">Se déconnecter</a>
			<a href="/register" sec:authorize="isAnonymous()"><span>S'inscrire</span></a></nav>
		<div><h2>Inscription réussie !</h2><br>
		<a th:href="@{/login}">Cliquez ici pour vous connecter</a></div></section>
	
		<img th:src="@{evoli.png}" class="icone" alt="evoli shuffle"/>
		</div>
	</body>
</html>